<app-navbar></app-navbar>
<!-- home section starts -->
<section class="home" id="home">
    <h1>Education From Home</h1>
    <p>Tensed about tests ? <br>
        How to submit ? <br>
        Get Access to all subject Quizzes in a single click
    </p>
    <button class = "btn" mat-raised-button color="primary"
    routerLink = "/signup">
        Get Started
    </button>
</section>
<!-- home section ends -->

<!-- about section starts -->
<section class="about" id="about">
<div class="image">
    <img src="../../../assets/about_us.png" alt="">
</div>
<div class="content">
    <h3>Why choose us?</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Odit aspernatur provident architecto magni quia nesciunt 
        doloremque delectus quod laboriosam error itaque totam ea 
        ratione, consectetur voluptates quam dolorem cum adipisci.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Rem id esse saepe aliquam vel, voluptatum non adipisci 
        vitae sit exercitationem.
    </p>
    <button class = "btn" mat-raised-button color="primary">
        Learn More
    </button>
</div>
</section>
<!-- about section ends -->

<!-- courses section starts -->
<section class="course" id="course">
    <h1 class="heading">Our popular Quiz includes</h1>    
    <div class="box-container">
        <div class="box">
            <img src="../../../assets/java.jpg" alt="">
        </div>
    
        <div class="box">
            <img src="../../../assets/C.png" alt="">
        </div>
        
        <div class="box">
            <img src="../../../assets/spring.png" alt="">
        </div>
    </div>
</section>

    <!-- contact section starts  -->
<section class="contact" id="contact">
        <h1 class="heading">contact us</h1>
        <div class="row">
            <form action="">
                <input type="text" placeholder="full name" class="box">
                <input type="email" placeholder="your email" class="box">
                <input type="password" placeholder="your password" class="box">
                <input type="number" placeholder="your number" class="box">
                <textarea name="" id="" cols="30" rows="10" class="box address" placeholder="your address"></textarea>
                <button class = "send" mat-raised-button color="primary">
                    Send Now
                </button>
            </form>
        
            <div class="image">
                <img src="../../../assets/contact-img.png" alt="">
            </div>
        
        </div>
        
</section>
     <!-- contact section ends  -->
<footer class="footer">
    <div class="box-container">

        <div class="box">
            <h3>Connect With Us</h3>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Quizzes</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-map-marker-alt"></i> mumbai, india 400104. </p>
            <p> <i class="fas fa-envelope"></i> example@gmail.com </p>
            <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
        </div>

    </div>
    
    

</footer>